DEBUG=True
SECRET_KEY=sua-secret-key-aqui

# Banco de dados
DB_NAME=nome_do_banco
DB_USER=usuario
DB_PASSWORD=senha
DB_HOST=localhost
DB_PORT=3306

# E-mail
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
EMAIL_HOST=smtp.hostinger.com
EMAIL_HOST_USER=email@dominio.com
EMAIL_HOST_PASSWORD=senha_do_email
EMAIL_PORT=587
EMAIL_USE_TLS=True
DEFAULT_FROM_EMAIL=email@dominio.com
