{% extends 'ordemServico/base.html' %}
{% load static %}
{% block title %} Painel de controle {% endblock %}
{% block style %}
<style>
    .status-dot {
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin-right: 8px;
    }

    .status-concluido {
        background-color: #a8d5ba; /* Verde pastel */
        color: #155724; /* Verde escuro para texto */
    }

    .status-em-andamento {
        background-color: #fff3cd; /* Amarelo pastel */
        color: #856404; /* Amarelo escuro para texto */
    }

    .status-em-espera {
        background-color: #f8d7da; /* Vermelho pastel */
        color: #721c24; /* Vermelho escuro para texto */
    }

    .status-cell {
        padding: 8px;
        text-align: center;
        border-radius: 4px;
    }


</style>
{% endblock %}

{% block content %}
<div class="content page-title mb-5 px-4" style="min-height: 80vh;">

    <div class="container">
        <h3 class="titulo-pagina">
            <i class="bi bi-graph-up" style="margin-right: 4px;"></i>
            Painel de controle
        </h3>

        <!-- Gráfico 1: Quantidade de serviços criados por mês -->
        <div class="mb-4 P-3" style="width: 100%; height: 40vh; display: flex; flex-direction: column; justify-content: center; align-items: center; background-color: var(--cinza-claro); border-radius: 12px;">
            <h4 style="color: var(--cinza); font-weight: 500; padding: 1rem;">GRÁFICO DE SERVIÇOS CRIADOS POR MÊS</h4>
            <canvas id="graficoServicosPorMes" style="max-width: 90%; max-height: 90%;"></canvas>
        </div>

        <!-- Container para os gráficos de status e vendas -->
        <div class="mb-4" style="display: flex; justify-content: space-between; align-items: center; width: 100%; height: 40vh;">
            <!-- Gráfico 2: Quantidade de serviços por status -->
            <div style="width: 30%; height: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center; background-color: var(--cinza-claro); border-radius: 12px;">
                <h4 style="color: var(--cinza); font-weight: 500; padding: 1rem;">GRÁFICO DE STATUS DOS SERVIÇOS</h4>
                <canvas id="graficoServicosPorStatus" style="max-width: 90%; max-height: 90%;"></canvas>
            </div>

            <!-- Gráfico 3: Valor de vendas por mês -->
            <div style="width: 68%; height: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center; background-color: var(--cinza-claro); border-radius: 12px;">
                <h4 style="color: var(--cinza); font-weight: 500; padding: 1rem;">GRÁFICO DE VENDAS MENSAIS</h4>
                <canvas id="graficoVendasPorMes" style="max-width: 90%; max-height: 90%;"></canvas>
            </div>
        </div>

        <h6 style="color: #78828B; font-weight: 400; font-size: 14px;" class="mb-2">
            Histórico de serviços:
        </h6>

        <div style="display: flex; align-items: center; gap: 10px;" class="mb-1">
            <!-- Campo de Pesquisa -->
            <input type="text" id="search-input" class="form-control w-50" placeholder="Pesquisar..." style=" padding: 0.5rem; font-size: 14px; background-color: var(--cinza-claro);">
        
            <!-- Botões de Filtro -->
            <button onclick="filterTable('concluída')" 
                    style="
                        display: inline-flex;
                        align-items: center;
                        padding: 8px 16px;
                        border-radius: 16px;
                        border: 1px solid #28a745;
                        background-color: #f0fdf4;
                        color: #155724;
                        font-size: 12px;
                        cursor: pointer;
                        font-weight: bold;">
                <span style="
                        display: inline-block;
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        margin-right: 8px;
                        background-color: #28a745;">
                </span>
                Concluído
            </button>
        
            <button onclick="filterTable('em andamento')" 
                    style="
                        display: inline-flex;
                        align-items: center;
                        padding: 8px 16px;
                        border-radius: 16px;
                        border: 1px solid #ffc107;
                        background-color: #fff8e1;
                        color: #856404;
                        font-size: 12px;
                        cursor: pointer;
                        font-weight: bold;">
                <span style="
                        display: inline-block;
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        margin-right: 8px;
                        background-color: #ffc107;">
                </span>
                Em andamento
            </button>
        
            <button onclick="filterTable('em espera')" 
                    style="
                        display: inline-flex;
                        align-items: center;
                        padding: 8px 16px;
                        border-radius: 16px;
                        border: 1px solid #dc3545;
                        background-color: #fde2e4;
                        color: #721c24;
                        font-size: 12px;
                        cursor: pointer;
                        font-weight: bold;">
                <span style="
                        display: inline-block;
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        margin-right: 8px;
                        background-color: #dc3545;">
                </span>
                Em espera
            </button>
        
            <button onclick="filterTable('')" 
                    style="
                        display: inline-flex;
                        align-items: center;
                        padding: 8px 16px;
                        border-radius: 16px;
                        border: 1px solid #6c757d;
                        background-color: #f8f9fa;
                        color: #6c757d;
                        font-size: 12px;
                        cursor: pointer;
                        font-weight: bold;">
                <span style="
                        display: inline-block;
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        margin-right: 8px;
                        background-color: #6c757d;">
                </span>
                Todos
            </button>
        </div>

        <div class="tabela-painel-controle p-1" style="max-height: 50vh; overflow-y: auto;">
            
            <table class="table table-hover" id="data-table">
                <thead>
                    <tr 
                        style="font-size: 12px; text-align: center;">

                        <th scope="col" style="background-color: var(--azul-principal); color: var(--cinza-claro); padding: 0.75rem; border-top-left-radius: 12px; border-bottom-left-radius: 12px;">CLIENTE</th>
                        <th scope="col" style="background-color: var(--azul-principal); color: var(--cinza-claro); padding: 0.75rem;">SERVIÇO</th>
                        <th scope="col" style="background-color: var(--azul-principal); color: var(--cinza-claro); padding: 0.75rem;">RECEBIMENTO</th>
                        <th scope="col" style="background-color: var(--azul-principal); color: var(--cinza-claro); padding: 0.75rem;">CONCLUSÃO</th>
                        <th scope="col" style="background-color: var(--azul-principal); color: var(--cinza-claro); padding: 0.75rem; border-top-right-radius: 12px; border-bottom-right-radius: 12px;">STATUS</th>
                    </tr>
                </thead>
                <tbody>
                    {% for servico in servicos %}
                    <tr id="servico-{{ servico.id }}"
                        data-status="{{ servico.get_status_display|lower }}" 
                        style="font-size: 12px; text-align: center; border-bottom: 3px solid var(--cinza-claro); cursor: pointer;" 
                        data-url="{% url 'servico' servico.id %}" 
                        onclick="window.location.href=this.getAttribute('data-url');">
                    
                        <td style="padding: 0.75rem;">{{ servico.ordem_servico.cliente.nome|truncatechars:40|upper }}</td>
                        <td>{{ servico.repositorio.nome|truncatechars:20|upper }}</td>
                        <td>{{ servico.ordem_servico.data_criacao|date:"d/m/Y" }}</td>
                        <td>
                            {% if servico.data_conclusao %}
                            {{ servico.data_conclusao|date:"d/m/Y" }}
                            {% else %}
                            NÃO CONCLUÍDO
                            {% endif %}
                        </td>
                        <td style="text-align: center;">
                            <span style="
                                display: inline-flex; 
                                align-items: center; 
                                padding: 4px 8px; 
                                border-radius: 16px; 
                                border: 1px solid 
                                    {% if servico.get_status_display|lower == 'concluída' %}#28a745{% endif %}
                                    {% if servico.get_status_display|lower == 'em andamento' %}#ffc107{% endif %}
                                    {% if servico.get_status_display|lower == 'em espera' %}#dc3545{% endif %};
                                background-color: 
                                    {% if servico.get_status_display|lower == 'concluída' %}#f0fdf4{% endif %}
                                    {% if servico.get_status_display|lower == 'em andamento' %}#fff8e1{% endif %}
                                    {% if servico.get_status_display|lower == 'em espera' %}#fde2e4{% endif %};
                                color: 
                                    {% if servico.get_status_display|lower == 'concluída' %}#155724{% endif %}
                                    {% if servico.get_status_display|lower == 'em andamento' %}#856404{% endif %}
                                    {% if servico.get_status_display|lower == 'em espera' %}#721c24{% endif %};
                            ">
                                <span style="
                                    display: inline-block; 
                                    width: 10px; 
                                    height: 10px; 
                                    border-radius: 50%; 
                                    margin-right: 8px; 
                                    background-color: 
                                        {% if servico.get_status_display|lower == 'concluída' %}#28a745{% endif %}
                                        {% if servico.get_status_display|lower == 'em andamento' %}#ffc107{% endif %}
                                        {% if servico.get_status_display|lower == 'em espera' %}#dc3545{% endif %};
                                ">
                                </span>
                                {{ servico.get_status_display|upper }}
                            </span>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}

<!-- FILTRA A TABELA PELO NOME DO CLIENTE -->
<script>
    function filterTable() {
        // Obtém o valor digitado no campo de pesquisa
        let input = document.getElementById('search-input');
        let filter = input.value.toLowerCase();
        let table = document.getElementById('data-table');
        let tr = table.getElementsByTagName('tr');

        // Loop através das linhas da tabela (ignorando o cabeçalho)
        for (let i = 1; i < tr.length; i++) { // Ignora o cabeçalho
            let tdCliente = tr[i].getElementsByTagName('td')[0]; // Coluna CLIENTE
            if (tdCliente) {
                let txtValue = tdCliente.textContent || tdCliente.innerText;
                // Verifica se o texto do cliente inclui o filtro
                if (txtValue.toLowerCase().indexOf(filter) > -1) {
                    tr[i].style.display = ''; // Mostra a linha
                } else {
                    tr[i].style.display = 'none'; // Oculta a linha
                }
            }
        }
    }

    // Adiciona um evento para filtrar enquanto o usuário digita
    document.getElementById('search-input').addEventListener('keyup', filterTable);
</script>

<!-- FILTRA A TABELA PELO STATUS DO SERVIÇO -->
<script>
    function filterTable(status) {
        const rows = document.querySelectorAll('#data-table tbody tr');
        rows.forEach(row => {
            const rowStatus = row.getAttribute('data-status');
            if (status === '' || rowStatus === status) {
                row.style.display = '';
            } else {
                row.style.display = 'none';
            }
        });
    }
</script>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>

<script>
    // Requisição para obter os dados
    fetch('/api/servicos-graficos/')
        .then(response => response.json())
        .then(data => {
            // Função para criar um degradê
            const criarDegrade = (ctx, cor1, cor2) => {
                const gradient = ctx.createLinearGradient(0, 0, 0, 400);
                gradient.addColorStop(0, cor1);
                gradient.addColorStop(1, cor2);
                return gradient;
            };

            // Gráfico de serviços criados por mês
            const labelsServicosPorMes = data.servicos_por_mes.map(item => {
                const date = new Date(item.mes);
                return `${date.getMonth() + 1}/${date.getFullYear()}`;
            });
            const dataServicosPorMes = data.servicos_por_mes.map(item => item.total);

            const ctx1 = document.getElementById('graficoServicosPorMes').getContext('2d');
            const gradient1 = criarDegrade(ctx1, '#2A6CB2', '#0BB4ED');
            new Chart(ctx1, {
                type: 'bar',
                data: {
                    labels: labelsServicosPorMes,
                    datasets: [{
                        data: dataServicosPorMes,
                        backgroundColor: gradient1,
                        borderColor: '#2A6CB2',
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: true,
                    plugins: {
                        legend: {
                            display: false // Remove a legenda
                        },
                        tooltip: {
                            callbacks: {
                                label: function (tooltipItem) {
                                    return `Total: ${tooltipItem.raw}`;
                                }
                            }
                        },
                        datalabels: {
                            color: '#000000',
                            anchor: 'end',
                            align: 'start',
                            formatter: (value) => value
                        }
                    },
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                },
                plugins: [ChartDataLabels]
            });

            // Gráfico de serviços por status (gráfico de pizza)
            const labelsServicosPorStatus = ['EM ESPERA', 'EM ANDAMENTO', 'CONCLUÍDA'];
            const coresPastel = ['#f8d7da', '#fff3cd', '#d4edda']; // Vermelho, amarelo e verde pastéis

            // Garante que os dados estejam na ordem correta
            const dataServicosPorStatus = [0, 0, 0]; // Inicializa com 0 para cada status
            data.servicos_por_status.forEach(item => {
                switch (item.status) {
                    case 'em_espera':
                        dataServicosPorStatus[0] = item.total; // Total para "em_espera"
                        break;
                    case 'em_andamento':
                        dataServicosPorStatus[1] = item.total; // Total para "em_andamento"
                        break;
                    case 'concluida':
                        dataServicosPorStatus[2] = item.total; // Total para "concluida"
                        break;
                }
            });

            const ctx2 = document.getElementById('graficoServicosPorStatus').getContext('2d');
            new Chart(ctx2, {
                type: 'pie',
                data: {
                    labels: labelsServicosPorStatus,
                    datasets: [{
                        data: dataServicosPorStatus,
                        backgroundColor: coresPastel,
                        borderColor: '#FFFFFF',
                        borderWidth: 2
                    }]
                },
                options: {
                    responsive: true,
                    plugins: {
                        legend: {
                            position: 'right', // Posiciona a legenda à direita
                            labels: {
                                usePointStyle: true, // Usa bolinhas na legenda
                                pointStyle: 'circle' // Define o estilo como círculo
                            }
                        },
                        tooltip: {
                            callbacks: {
                                label: function (tooltipItem) {
                                    const label = tooltipItem.label || '';
                                    const value = tooltipItem.raw || 0;
                                    return `${label}: ${value} serviços`;
                                }
                            }
                        },
                        datalabels: {
                            color: '#000000', // Cor do texto sobre a fatia
                            anchor: 'end',
                            align: 'start',
                            formatter: (value) => `${value}`, // Exibe apenas o número
                            font: {
                                weight: 'bold',
                                size: 12
                            }
                        }
                    }
                },
                plugins: [ChartDataLabels] // Certifique-se de carregar o plugin ChartDataLabels
            });

            // Gráfico de vendas por mês
            const labelsVendasPorMes = data.vendas_por_mes.map(item => {
                const date = new Date(item.mes);
                return `${date.getMonth() + 1}/${date.getFullYear()}`;
            });
            const dataVendasPorMes = data.vendas_por_mes.map(item => item.total_vendas);

            const ctx3 = document.getElementById('graficoVendasPorMes').getContext('2d');
            const gradient3 = criarDegrade(ctx3, '#2A6CB2', '#0BB4ED');
            new Chart(ctx3, {
                type: 'bar',
                data: {
                    labels: labelsVendasPorMes,
                    datasets: [{
                        data: dataVendasPorMes,
                        backgroundColor: gradient3,
                        borderColor: '#2A6CB2',
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: true,
                    plugins: {
                        legend: {
                            display: false // Remove a legenda
                        },
                        tooltip: {
                            callbacks: {
                                label: function (tooltipItem) {
                                    return `R$ ${tooltipItem.raw.toLocaleString('pt-BR', {
                                        style: 'currency',
                                        currency: 'BRL'
                                    })}`;
                                }
                            }
                        },
                        datalabels: {
                            color: '#000000',
                            anchor: 'end',
                            align: 'start',
                            formatter: (value) => value.toLocaleString('pt-BR', {
                                style: 'currency',
                                currency: 'BRL'
                            }),
                            font: {
                                weight: 'bold',
                                size: 12
                            }
                        }
                    },
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                },
                plugins: [ChartDataLabels]
            });
        })
        .catch(error => console.error('Erro ao carregar os dados dos gráficos:', error));
</script>

{% endblock %}