{% extends 'ordemServico/base.html' %}
{% load static %}
{% block title %}Área administrativa{% endblock %}
{% block content %}

<div class="container">

    <h3 class="titulo-pagina">
        <i class="fa-solid fa-pen-to-square" style="margin-right: 4px;"></i>
        Editar OS Rápida
    </h3>

    <form method="post" class="ms-4 me-5 mb-5">

        {% csrf_token %}

        <div class="p-2 mb-3 d-flex">

            <div class="w-50 me-3">
                <label for="{{ form.cliente.id_for_label }}">Edite o cliente:</span></label>
                <div class="form-group w-100">
                    {{ form.cliente }}
                </div>
            </div>

            <div class="w-25 me-3">
                <label for="{{ form.profile.id_for_label }}">Edite o técnico:</span></label>
                <div class="form-group">
                    {{ form.profile }}
                </div>
            </div>

        </div>

        <div class="p-2 d-flex">

            <div class="w-25 me-3">
                <label for="{{ form.status.id_for_label }}">Status:</label>
                <div class="form-group">
                    {{ form.status }}
                </div>
            </div>

            <div class="w-50 me-3">
                <label for="{{ form.servico.id_for_label }}">Selecione serviço:</label>
                <div class="form-group">
                    {{ form.servico }}
                </div>
            </div>

            <div class="w-25">
                <label for="{{ form.quantidade.id_for_label }}">Quantidade:</label>
                <div class="form-group">
                    {{ form.quantidade }}
                </div>
            </div>

        </div>

        <div class="mt-3 mb-3 p-2">
            <div class="form-group">
                <label for="{{ form.observacao.id_for_label }}">Descrição:</label>
                {{ form.descricao }}
            </div>
        </div>

        <div class="p-2 d-flex">

            <div class="w-25 me-3">
                <div>
                    {{ form.data_recebimento.label_tag }} {{ form.data_recebimento }}
                </div>
            </div>

            <div class="w-25 me-3">
                <div>
                    {{ form.data_inicio.label_tag }} {{ form.data_inicio }}
                </div>
            </div>

            <div class="w-25 me-3">
                <div>
                    {{ form.data_termino.label_tag }} {{ form.data_termino }}
                </div>
            </div>

        </div>

        <button class="btn botao ms-2 mt-3 me-3" type="submit">Salvar</button>
        <a href="{% url 'os_rapida' %}" class=" btn btn-danger mt-3">Voltar</a>
    </form>
</div>
{% endblock %}