<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
</head>
<body>
    <h2>Registrar Usuário</h2>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset>
            <legend>Informações de Usuário</legend>
            {{ user_form.as_p }}
        </fieldset>
        <fieldset>
            <legend>Informações de Perfil</legend>
            {{ profile_form.as_p }}
        </fieldset>
        <button type="submit">Registrar</button>
    </form>
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>
