{% extends 'ordemServico/base.html' %}
{% load static %}
{% block title %}Criar ordem de serviço{% endblock %}
{% block content %}

<div class="container page-title px-5">


    <h3 class="titulo-pagina">
        <i class="fa-solid fa-pen-to-square"></i>
        Editar ordem de serviço
    </h3>

    <form class="mb-5" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <!-- ========== CLIENTE ========== -->
        <div class="d-flex gap-3 mb-4">
            <div class="form-group w-100">
                <label for="{{ ordem_servico_form.cliente.id_for_label }}">Cliente:</label>
                {{ ordem_servico_form.cliente }}
            </div>

            <div class="form-group w-25">
                <label for="{{ ordem_servico_form.data_criacao.id_for_label }}">Data de recebimento:</label>
                <input 
                    type="date" 
                    name="{{ ordem_servico_form.data_criacao.html_name }}" 
                    id="{{ ordem_servico_form.data_criacao.id_for_label }}" 
                    value="{{ ordem_servico_form.data_criacao.value|date:'Y-m-d' }}" 
                    class="form-control w-100"
                >
            </div>
        </div>

        <!-- ========== FINANCEIRO ========== -->
        {% if not request.user.profile.role == 4 %}
            <h6 class="secao-os mt-5 mb-4">
                Preencha as informações financeiras para todos os serviços relacionados a estavenda.
            </h6>
            <div class="mb-3">

                <div class="row d-flex gap-3 mb-4">
                    <div class="form-group col-2">
                        <label for="{{ ordem_servico_form.valor.id_for_label }}">Valor:</label>
                        {{ ordem_servico_form.valor }}
                    </div>
                    <div class="form-group col-2">
                        <label for="{{ ordem_servico_form.cobranca_imediata.id_for_label }}">Cobrar imediatamente?</label>
                        {{ ordem_servico_form.cobranca_imediata }}
                    </div>
                    <div class="form-group col-3">
                        <label for="{{ ordem_servico_form.forma_pagamento.id_for_label }}">Forma de pagamento:</label>
                        {{ ordem_servico_form.forma_pagamento }}
                    </div>
                    <div class="form-group col-2">
                        <label for="{{ ordem_servico_form.quantidade_parcelas.id_for_label }}">Qtd de parcelas:</label>
                        {{ ordem_servico_form.quantidade_parcelas }}
                    </div>
                    <div class="form-group col-2">
                        <label for="{{ ordem_servico_form.faturamento_1.id_for_label }}">1° faturamento:</label>
                        {{ ordem_servico_form.faturamento_1 }}
                    </div>
                </div>

                <div class="row mb-4">
                    <div class="form-group col-6">
                        <label for="{{ ordem_servico_form.nome_contato_envio_nf.id_for_label }}">
                            Nome do representante financeiro:
                        </label>
                        {{ ordem_servico_form.nome_contato_envio_nf }}
                    </div>
                    <div class="form-group col-6">
                        <label for="{{ ordem_servico_form.contato_envio_nf.id_for_label }}">
                            E-mail de envio da NF:
                        </label>
                        {{ ordem_servico_form.contato_envio_nf }}
                        <div class="invalid-feedback" style="display: none;">
                            Por favor, insira um e-mail válido.
                        </div>
                    </div>
                </div>

                <div class="mt-3">
                    <div class="form-group">
                        <label for="{{ ordem_servico_form.observacao.id_for_label }}">Observações:</label>
                        {{ ordem_servico_form.observacao }}
                    </div>
                </div>
            </div>
        {% endif %}

        <!-- ========== SERVIÇOS ========== -->
        <h6 class="secao-os mt-5 mb-4">Inclua todos os serviços contratados aqui para que possam ser faturados
            juntos.
        </h6>
        <div class="mb-3">
            {{ servico_formset.management_form }}
            {% for form in servico_formset %}
            <div class="inlineform formset-servico mb-3 border p-3 rounded">
                {{ form.id }} <!-- Campo oculto para o ID -->
                {{ form.DELETE }} <!-- Campo para exclusão -->
                
                <div class="form-group mb-3">
                    <label for="{{ form.repositorio.id_for_label }}">Nome do serviço:</label>
                    {{ form.repositorio }}
                </div>
        
                <div class="form-group mb-3">
                    <label for="{{ form.descricao.id_for_label }}">Descrição do serviço:</label>
                    {{ form.descricao }}
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="d-flex justify-content-end p-3">
            <button type="submit" class="btn button mt-4 py-2 px-2">
                Salvar todos os serviços
            </button>
        </div>
    </form>

</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript">
    $(function () {
        console.log('Formset prefix:', '{{ servico_formset.prefix }}');
        $('.inlineform').formset({
            prefix: '{{ servico_formset.prefix }}',
            addText: '<i class="fas fa-plus"></i> Adicionar',
            deleteText: '<i class="fas fa-trash"></i> Excluir',
            addCssClass: 'btn btn-primary d-inline-block me-2',
            deleteCssClass: 'btn btn-danger d-inline-block',
        });

        // Adiciona comportamento ao botão de excluir
        $(document).on('click', '.delete-row', function () {
            const prefix = $(this).data('formset-prefix');
            const formset = $(this).closest('.inlineform');
            formset.remove();
        });

        // Adiciona comportamento ao botão de adicionar
        $(document).on('click', '.add-row', function () {
            const prefix = $(this).data('formset-prefix');
            const formsetContainer = $(this).closest('.mb-3');
            const formCount = formsetContainer.find('.inlineform').length;
            const newRow = $(formsetContainer).find('.inlineform:first').clone();
            newRow.find(':input').each(function () {
                const name = $(this).attr('name').replace('__prefix__', formCount);
                $(this).attr('name', name);
                $(this).attr('id', name);
                $(this).val('');
            });
            newRow.find('.form-control, .form-select').val('');
            formsetContainer.append(newRow);
        });
    });
</script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var emailInput = document.getElementById('emailInput');
        var invalidFeedback = document.querySelector('.invalid-feedback');

        emailInput.addEventListener('blur', function () {
            var emailValue = emailInput.value;

            // Regex para verificar se o e-mail é válido
            var emailPattern = /^[a-zA-v0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6}$/;
            // /^ /
            // {2,6} => indica que o dominio deve ter entre 2 e 6 caracteres
            // $ indica o final da string
            if (!emailPattern.test(emailValue)) {
                emailInput.classList.add('is-invalid'); // Adiciona a classe de erro
                invalidFeedback.style.display = 'block'; // Exibe a mensagem de erro
            } else {
                emailInput.classList.remove('is-invalid'); // Remove a classe de erro
                invalidFeedback.style.display = 'none'; // Oculta a mensagem de erro
            }
        });

        // Remover a mensagem de erro ao focar no campo novamente
        emailInput.addEventListener('focus', function () {
            invalidFeedback.style.display = 'none';
        });
    });
</script>


{% endblock %}