{% extends 'ordemServico/base.html' %}
{% load static %}
{% block title %}Repositório de serviços{% endblock %}

{% block content %}

<div class="content page-title px-4">

    <div class="container">

        <h3 class="titulo-pagina">
            <i class="fas fa-plus"></i>
            Adicionar um novo serviço ao repositório de serviços
        </h3>

        <form method="POST">
            {% csrf_token %}

            <!-- Primeira linha do formulário: Nome do cliente -->
            <div class="row mb-4">
                <div class="col-md-6">
                    <label for="{{ form.nome.id_for_label }}" class="form-label">Nome do serviço:</label>
                    <div class="form-group">
                        {{ form.nome }}
                    </div>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-md-12">
                    <label for="{{ form.descricao.id_for_label }}" class="form-label">Descrição:</label>
                    <div class="form-group">
                        {{ form.descricao }}
                    </div>
                </div>
            </div>

            <button type="submit" class="btn button py-2">Salvar novo serviço</button>
        </form>
    </div>
</div>

{% endblock %}
